.connect{
    display: flex;
    flex-direction: column;
    width: 25.4375rem;
    height: 35.5625rem;
    border: black solid 1px;
    border-radius: 4px;
    position: relative;
    background-color: white;
    
    &__top{
        display: flex;
        flex-direction: column;
        margin: 2.5rem 1.5rem 1rem 1.5rem;
        &--header{
            display:block;
            font-weight:700;
        }
        &--profile{
            display:flex;
            flex-direction: row;
        }
    }
    &__bottom{
        margin-top: 1.5rem;
        display:flex;
        flex-direction: column;
        align-items: center;
        &--header{
            align-self: flex-start;
            margin-left: 1rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
    }

}
span{
    font-style:italic;
    color: #008060;
}
.profile{
    display: flex;

   &__text{
        display:flex;
        flex-direction: column;
        margin-left: 0.5rem;
        margin-top: 1.5rem;
        &--description{
            margin: 0; 
            font-weight:400;
            line-height: 1.25rem;
        }
        &--title{
            margin:0;
            font-weight: 700;
        }
   } 
   &__avatar{
       margin-top: 1.5rem;
       &--img{
           width:6.25rem;
           height: 6.3094rem;
           border: 0.0625rem solid #000000;
           box-sizing: border-box;
           border-radius: 50%;
           filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
       }
   }
}
.productInput{
    background: rgba(250, 250, 250, 0.7);
    border: 0.0625rem solid rgba(174, 174, 192, 0.4);
    height: 9.75rem;
    width: 367px;
    border-radius: 0.5rem;
   
}
.productSubmit{
    background-color: #008060;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08), inset 0px -1px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
button{
    color: white;
    width: 131px;
    height: 36px;
    display:flex;
    justify-content: center;
    margin-top: 2rem;
}
.divider{
    width: 100%;
    border: 1px solid #E5E5E5;
}
.closeX{
    
        position: absolute;
        right: 35px;
        top: 15px;
        font-size: 40px;
        font-weight: bold;
        color: #f1f1f1;
    
}
.globeIcon{
    width: 1.25rem;
    height:1.25rem;
}

.div {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000 !important;
    position: fixed;
    top: 0;
    left: 0;

}